@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Mona Sans';
  src: url('/font/MonaSans.woff2') format('woff2 supports variations'),
       url('/font/MonaSans.woff2') format('woff2-variations');
}

// Colors //
* {
  --color-black:        #020202;
  --color-white:        #e8e8e8;
  --color-bright-white: #fff;
  --grad-r-to-b: linear-gradient(90deg, #ff2d8c, #6a64ff);
  overflow-x: hidden;
}

// Header Reset //
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  // Force set fonts for reset css. //
  font-family: 'Mona Sans', -apple-system, BlinkMacSystemFont, 'Noto Sans JP', Arial, 'Segoe UI', sans-serif !important;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: var(--color-black);
}
::-webkit-scrollbar-thumb {
  background: var(--color-white);
}
